body{
    background-color: black;
}

header{
    background-color: black;
    padding: 20px;
}

.principal{
    size: 600px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    color: black;
}


.tua p{
    text-align: center;
    color: black solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;  
    
}

select{
    font-size: 25px;
    background-color: red;
    color: aliceblue;

    text-align: center justify;
}
section{
    size: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    

}

.propiedades-destacadas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
    color: black solid;
    font-weight: bold;
    text-align: center;

}

.body{
    background-image: url(https://i.pinimg.com/564x/13/dc/fc/13dcfc9ae298195f8d2416cdbdffae17.jpg);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    padding: 20px;
    margin: 20px;
    position: relative;
    background-size: cover;
}    

footer{
    text-align: center;
}

.contacto{
    width: 50px;
    padding: 10px;
    margin: 15px;
}

.logonombre{
    width: 250px;
}

#padreDePropDestacadas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.card{
    padding: 10px;
    margin: 20px;
    display: flex;
}